.contacts {
  padding: 40px 30px;
  background-color: #ffffff;
}
.contacts__tigline {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Оpen sans";
}
.contacts__info {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  font-family: "Оpen sans";
}
.contacts__info-answer {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  font-family: "Оpen sans";
}
.contacts__mail {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
  font-family: "Оpen sans";
  text-decoration: none;
}
