.feedback {
  padding: 40px 30px;
  background-color: #ffffff;
}
.feedback__btn {
  font-size: 18px;
  line-height: 18px;
  color: #444444;
  font-weight: bold;
  font-family: "Оpen sans";
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;

}
