body {
  margin: 0;
  background-color: grey;
  font-family: $OpenSans;
  font-weight: normal;

}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1150px;
}
.content {

}

@font-face {
  font-family: "Оpen sans";
  src: url(../fonts/opensans.woff) format("woff"),
  url(../fonts/opensans.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Оpen sans bold";
  src: url(../fonts/opensansbold.woff) format("woff"),
  url(../fonts/opensansbold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}
