.main-footer {
  padding: 25px 30px;
  background-color: #f1f1f1;
}
.main-footer__designed {
  font-size: 19px;
  line-height: 19px;
  color: #000000;
  font-weight: bold;
  font-family: "Оpen sans";
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  text-decoration: none;
}
