.main-header {
  text-align: center;
}

.main-header__tagline {
  padding-top: 75px;
  padding-right: 9.37%;
  padding-bottom: 50px;
  padding-left: 9.37%;
  box-sizing: border-box;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-header__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  font-family: $OpenSansBold;
}
@media (min-width: $width-tablet) {
  .main-header__tagline {
    padding-top: 168px;
    padding-bottom: 375px;
  }
  .main-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: $width-desktop) {
  .main-header__tagline {
    display: flex;
    justify-content: center;
    padding-top: 168px;
    padding-bottom: 375px;
  }
  .main-header__title {
    width: 75%;
    font-size: 53px;
    line-height: 57px;
  }
}
