.main-navigation {
  margin: 0;
  padding: 0;
}
.main-navigation__list {
  list-style-type: none;
}
.main-navigation__link {
  display: flex;
  padding: 9.37%;
  padding-right: 150px;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-family: $OpenSansBold;
  text-align: left;
    &--light {
      background-color: #63d1bb;
      background-image: url(../img/icon-interior.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
    &--dark {
      background-color: #56c3b2;
      background-image: url(../img/icon-toy.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
}
.main-menu__text {
  width: 50%;
}
@media (min-width: $width-tablet) {
  .main-navigation {
    background-color: #f8f8f8;
  }
  .main-navigation__content {
    display: flex;
    flex-direction: row;
    padding: 0 6.5%;
  }
  .main-navigation__list {
    width: 50%
  }
  .main-navigation__link {
    padding-right: 200px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: $width-desktop) {
  .main-navigation__content {
    padding: 0 4.3%;
  }
}
