.making {
  background-color: #ffffff;
  border: 1px solid #ededed;
}
.making__content {
  position: relative;
  padding: 30px 9.37%;
}
.making__tagline-icon {
  position: absolute;
  top: 30px;
  left: 20%;
  transform: translateX(-50%);
}
.making__tagline {
  margin: 0;
  padding-left: 30%;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-family: $OpenSansBold;
}
.making__video {
  width: 100%;
  height: auto;
}
.making__text {
  padding: 0 15%;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.making__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 71%;
  height: 48px;
  font-size: 17px;
  line-height: 17px;
  color: #444444;
  font-family: $OpenSansBold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
}
@media (min-width: $width-tablet) {
  .making__content {
    padding: 30px 6.5%;
  }
}
