.name-page {
  background-color: #f1f1f1;
  padding: 0 30px;
}
.name-page__tagline {
  padding: 75px 0;
}
.name-page__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Оpen sans";
}
